<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96784781082-s50drua6lvad8feohf9bhs8icdvud5pp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96784781082-s50drua6lvad8feohf9bhs8icdvud5pp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>96784781082-98bru8i75to0k7efbbugmndigka4dfuc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoccRCqk0Kz_RpkGLMCR7MZ_Fb8XVczcs</string>
	<key>GCM_SENDER_ID</key>
	<string>96784781082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.temulapakApp</string>
	<key>PROJECT_ID</key>
	<string>project-database-63eea</string>
	<key>STORAGE_BUCKET</key>
	<string>project-database-63eea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96784781082:ios:1e1a1dd714640d910a66a3</string>
	<key>DATABASE_URL</key>
	<string>https://project-database-63eea-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>